<h1>Lista de clientes</h1>



<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome </th>
          <th>cpf</th>
        </tr>
      </thead>
      <tbody>
        <% @clientes.each do |cliente| %>
          <tr>
            <td><%= cliente.nome %></td>      
            <td><%= cliente.cpf %></td>         
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>