<h1>HomePage#index</h1>
<p>Find me in app/views/home_page/index.html.erb</p>


<ul>

    <li><%= link_to "Adicionar Produtos", produtos_path%></li>
    <li><%= link_to "Estoque", inventorylists_path%></li>


</ul>


