<h1>Pagina inicial</h1>

<% if user_signed_in?%>
    <%= current_user.wallet.balance%>
    <%= current_user.email%>
<% end %>



<ul>

    <li><% link_to "Adicionar Produtos", produtos_path%></li>
    <li><% link_to "Estoque", inventorylists_path%></li>
    <li><%= link_to "Fazer uma Carrinho", vendas_path%></li>
    <li><%= link_to "Finalizar Vendas", vendalists_path%></li>


</ul>


