<h1>lista de carrinhos</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>ID do cartlist</th>
        <th>Data da venda</th>     
        <th>Para quem foi a venda</th>
        <th>Valor da venda</th>
        <th>ações</th>
      </tr>
    </thead>
    <tbody>
      <% @cartlist.each do |cartlist| %>
        <tr>
          <td><%= cartlist.id%></td>
          <td>#</td>
          <td>#</td>
          <td><%= cartlist.valor%></td>
          <td><%= link_to 'Mostrar venda', show_path(cartlist.id) %></td>
        </tr>        
      <% end %>
    </tbody>
</table>