<h1>Estoque de produtos</h1>


<table class='table table-hover'>
  <thead>
    <tr>
      <th>Nome do Produto</th>
      <th>Quantidade disponivel no estoque</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory_lists.each do |inventorylist| %>
      <tr>
        <td><%= inventorylist.produto.nome %></td>      
        <td><%= inventorylist.quantity %></td>      
      </tr>
    <% end %>
  </tbody>
</table>