
<div class="card card-primary">
  <div class="card-header">
    <strong>Estoque de produtos</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome do Produto</th>
          <th>Quantidade disponível no estoque</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @inventory_lists.each do |inventorylist| %>
          <tr>
            <td><%= inventorylist.produto.nome %></td>      
            <td><%= inventorylist.quantity %></td>    
            <td><%= link_to "Editar" , edit_inventorylist_path(inventorylist), class:"btn btn-warning btn-sm"%></td>  
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
