<div class="card card-primary">
    <div class="card-header">
        Lista de compras
    </div>

    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Data</th>
                <th>Nome</th>
                <th>Quantidade</th>
            </tr>

            <tbody>
                <% @cartlist_orderables.each do |cartlist_orderable|%>
                    <tr>
                        <td>
                            <%= cartlist_orderable.cartlist.data %>
                        </td>
                        <td>
                            <%= cartlist_orderable.produto.nome %>
                        </td>
                        <td>
                            <%= cartlist_orderable.quantity %>
                        </td>
                    </tr>
                <%end %>
            </tbody>



        </table>
    </div>
</div>