<div class="dropdown">
    <% if @cliente.present? %>
      <div style="font-weight: bold; color: blue; font-size:large">
        <%= "Cliente: #{@cliente.nome}"  %>
      </div>
    <% else %>

      <button class="btn btn-info dropdown-toggle" type="button" id="clienteDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Selecione o Cliente
      </button>
      <div class="dropdown-menu">
        <% Cliente.all.each do |cliente| %>
          <div class="dropdown-item">
            <%= link_to "#{cliente.nome}", vendas_path(cliente_id: cliente.id), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
  